#detail-main {
  padding: 0 2em 2em 2em;
}

#detail-main h2 {
  margin: 2.5em 0 0.5em 0;
}

#detail-main h3 {
  display: inline-block;
  font-style: italic;
  float: left;
}

#detail-main h4 {
  display: inline-block;
  font-style: italic;
  float: right;
}

#detail-main img {
  width: 100%;
  margin: 2em 0 1.2em 0;
}

#detail-main p {
  line-height: 1.8em;
  font-size: 0.95em;
}

#readmore {
  font-weight: 900;
}

#readmore:hover {
  cursor: default;
  color: #e22d6c;
}

#detail-main button {
  margin: 1em 0.5em 0 1em;
  padding: 1em 2.5em;
  background: #444;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  border: solid 1px #444;
  border-radius: 6px;
  float: right;
  outline: 0;
}

#detail-main button:hover {
  background: #bbb;
}

.space {
  margin-top: 15em;
}
