@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffeaed;
  color: #000;
  line-height: 1.3em;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
  font-family: Raleway, sans-serif;
}


#wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 2.5em;
  max-width: 700px;
}
