#wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 2.5em;
  max-width: 700px;
}

header {
  min-height: 100px;
  width: 100%;
  background: #ff7a8f;
}

h1 img {
  vertical-align: middle;
  padding-right: 10px;
}

footer {
  min-height: 160px;
  text-align: right;
  padding: 1em;
  background: #ff7a8f;
}

.icon-menu {
  font-size: 3em;
  float: right;
  display: inline-block;
  margin: 0.4em 0.1em 0 0;
}

.main-nav ul {
  display: none;
  padding: 1em;
  list-style: none;
  clear: both;
  background: #444;
  color: #fff;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: 1em;
}

.main-div {
  border: solid 1px #ffccd4;
  width: 100%;
  background: #ffccd4;
  padding-bottom: 6em;
}
